.relative {
    position: relative;
}

.loader {
    position: absolute;
    top: 0;
    background: #ffffffad;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.checkbox {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: 2px solid #666666;
}

.biglabel {
    font-size: 25px;
}

.mt150 {
    margin-top: 150px;
}